In [ ]:
# Name: Rupsa Karak   PRN:25070123098
# Experiment 8
#Aim: To study for loops in Python

In [ ]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
# Print all odd numbers between 1 to 10
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [ ]:
# Sum of first N numbers
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("Sum of numbers:" ,sum)

Enter a number: 12
Sum of numbers: 78

In [ ]:
# 3 x 3 matrix display
A = [[1,2,3], [4,5,6],[7,8,9]]
for i in range(3):
    for j in range(3):
        print(A[i][j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication Of Two 3 x 3 Matrices
A = [[1,2,3], [4,5,6],[1,2,1]]
B = [[1,1,1], [6,5,4],[3,2,1]]
Result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
    for j in range(3):
      for k in range(3):
          Result[i][j] += A[i][k] * B[k][j]
for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
# Print All Prime Numbers in Range
for num in range(2,50):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Make a right angle triangle using Python
for i in range(10,0,-1):
    print("*"* i)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# Pyramid Pattern
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *